# Java / Maven
target/
*.class

# Node
node_modules/
dist/
build/

# Python
venv/
__pycache__/
*.pyc

# IDE
.idea/
*.iml
nbproject/private/

# OS
Thumbs.db
.DS_Store

# Env/secrets
.env
.env.local

# Project context
context/